.produtos {
    background-color: #e7e4e8;
    border-top:solid 3px #d6d3c8;
    border-bottom:solid 3px #d6d3c8;
    padding: 60px 0;

}
.produtos-container {
    max-width: 960px;
    margin: 0 auto;
}
.produtos-container::after,
.produtos-container::before{
    content: '';
    display: table;
    clear: both;
}
.produtos-item{
    width: 300px;
    float: left;
    margin:0 10px 20px 10px;
}
.produtos-item h2{
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 20px;
}
.produtos-item h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    margin: 20px auto;
    border:5px solid #e7e4d8;
}
/* ! criando um pseudo elemento before,acima do nome dos produtos, será criado um elemento antes do nome do produto, como é display block, terá uma quebra de linha  */
/* ? o desenho da bola na parte branca foi feito com uma borda com a mesma cor de fundo e o ultimo contorno é uma sombra */

h2.produtos-paulista::before{
    background-color: #492901;
    box-shadow: 0 0 0 5px #492901;

}
.produtos-paulista{
    color: #492901;

}
h2.produtos-carioca::before{
    background-color: #c17139;
    box-shadow: 0 0 0 5px #c17139;


}
.produtos-carioca {
    color: #c17139;
}
h2.produtos-mineiro::before{
    background-color: #d7a54d;
    box-shadow: 0 0 0 5px #d7a54d;



}
.produtos-mineiro{
    color: #d7a54d;

}
.produtos-item p{
    font-size: 1em;
    line-height: 1.5em;

}
.produtos-btn {
    width:180px ;
    border: 3px solid #252525;
    color: #252525;
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 20px auto 0 auto;


}